@page "/availability"

<div class="availabilitypage-info">
    <h1>Dalkeith Guest House: Availability & Booking</h1>

    <p>Use the view/ form below to check rates and availability and to book online (the below view is provided by our online booking managers Eviivo).<br />If you have any special requirements or would like to book direct please call us on 017687 72696.</p>
</div>

<iframe class="availability-checker container-fluid" src="https://via.eviivo.com/DalkeithCA125EJ"></iframe>

@code {

}
