@page "/rooms"

<div id="mySlider" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2500">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/RoomsPage/Breakfast-Bar.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="col-sm-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/RoomsPage/Dining-Room.png" class="d-block w-100" alt="Image 2">
                </div>
                <div class="col-sm-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/RoomsPage/national-trust-throw.png" class="d-block w-100" alt="Image 3">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/RoomsPage/Room-4-light.png" class="d-block w-100" alt="Image 4">
                </div>
                <div class="col-sm-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/RoomsPage/Tea-Coffee-2.png" class="d-block w-100" alt="Image 5">
                </div>
                <div class="col-sm-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/RoomsPage/Room-4-Pillows.png" class="d-block w-100" alt="Image 6">
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mySlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mySlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<article class="roomspage-info">
    <h1>Dalkeith Guest House: Rooms & Rates</h1>
    <p>Dalkeith Guest House has five comfortable B&B guest bedrooms, all with en-suite bathrooms.</p>
    <p>As you would expect each room has tea and coffee making facilities, hairdryer, colour television together with central heating for those “cooler” evenings.</p>
    <p>Our premier room has splendid views towards the Skiddaw Fells and Latrigg to the north.</p>
    <p>Our bed and breakfast tariff offers excellent value for money.</p>
    <p>B&B Tariff valid until end December 2021 from £47.50 – £95 per room per night.</p>
</article>

<section class="roomdetails">
    <div class="roomdetails-container">
        <div class="row row-cols-1 row-cols-md-2 g-4">
            <div class="col">
                <div class="card">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/RoomsPage/Room-1.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Room 1</h5>
                        <p class="card-text">A double en-suite with a double bed, flat screen TV, tea and coffee making facilities and hair dryer. Enjoying a superb view over Skiddaw.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/RoomsPage/Room-2.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Room 2</h5>
                        <p class="card-text">A double en-suite with a double bed, flat screen TV, tea and coffee making facilities and hair dryer.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/RoomsPage/Room-3.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Room 3</h5>
                        <p class="card-text">The single en-suite with a single bed, flat screen TV, tea and coffee making facilities and hair dryer. The single room is one of the rarest available rooms in a Keswick Guest House as most “single” rooms are doubles and attract a single occupancy surcharge.</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/RoomsPage/Room-4.png" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title">Room 4</h5>
                        <p class="card-text">This comfortable room has a king size double bed or twin beds,<br />sleeping 2 and has an ensuite bathroom, flat screen TV, tea and coffee making facilities and hair dryer.</p>
                        <p></p>
                    </div>
                </div>
            </div>
        </div>

    </div>
</section>

<div class="availability-btn">
    <a href="/availability">
        <button class="btn-primary"> Check Availability</button>
    </a>
</div>

<article class="roomspage-info">
    <p>Please do not hesitate to contact us if you have any questions regarding availability, rates, rooms or anything else.</p>
    <p>We will always try and help and can sometimes can offer more flexibility for room setups & requests, which are not available online.</p>
</article>

@code {

}
