@page "/thingstodo"

<div id="mySlider" class="carousel slide" data-bs-ride="carousel" data-bs-interval="2500">
    <div class="carousel-inner">
        <div class="carousel-item active">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/ThingsToDoPage/George-Fisher.jpg" class="d-block w-100" alt="Image 1">
                </div>
                <div class="col-sm-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/ThingsToDoPage/Canoeing.jpg" class="d-block w-100" alt="Image 2">
                </div>
                <div class="col-sm-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/ThingsToDoPage/Walking.jpg" class="d-block w-100" alt="Image 3">
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <div class="row">
                <div class="col-sm-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/ThingsToDoPage/Pencil-Museum.jpg" class="d-block w-100" alt="Image 4">
                </div>
                <div class="col-sm-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/ThingsToDoPage/Mountain-Biking.jpg" class="d-block w-100" alt="Image 5">
                </div>
                <div class="col-sm-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/ThingsToDoPage/Theatre-by-the-Lake.jpg" class="d-block w-100" alt="Image 6">
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#mySlider" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#mySlider" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>

<article class="thingstodopage-info">
    <div class="txt-center">
        <h1>Things to do around Keswick:</h1>
        <p>
            Keswick is a wonderful place to be based if you wish to explore the Lake District. The town is on the shores of Derwentwater and is surrounded by majestic mountains.
        </p>
        <p>
            The walking locally is superb whatever standard you enjoy. Several major walking routes such as the Cumbria Way and the Allerdale Ramble pass through the area, as well as cycle routes such as the Coast to Coast (C2C).<br />Skiddaw, overlooking Keswick, at 3053 feet is the 4th highest mountain in England and the views from the top are superb.
        </p>
        <p>
            Whether it is walking, boating, climbing, horse riding, paragliding or mountain biking, there is something for everyone in the Keswick area.<br />
            Derwentwater is popular for sailing, windsurfing, canoeing, rowing and has its own Launch Service stopping at several points around the Lake. Boats can be hired from Nichol End Marine at Portinscale, about 2 miles from Keswick.
        </p>
        <p>
            The town is well known for it’s excellent eating and drinking establishments, with a wide range of restaurants, inns, and tea shops. We can give advice on the local favourites.<br />
            Outdoor shops abound if you need that essential outdoor equipment for the fells – Keswick is the home of the famous George Fisher outdoor shop on Lake Road.
        </p>
    </div>
</article>
<section>
    <div class="position-relative thingstodo-container">
        <a href="https://www.theatrebythelake.com/?gclid=Cj0KCQjww4-hBhCtARIsAC9gR3YBNHHjKHuaSMukA9b3UFTK2EyV5sV5wnVVXldJB-nBYdvlv3PjPl4aArN6EALw_wcB" class="card mb-3" style="max-width: 30%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/ThingsToDoPage/Theatre-by-the-Lake.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Theatre by the Lake</h5>
                        <p class="card-text">Theatre by the Lake is situated on the shores of Derwentwater. The theatre has is well known for its great productions.</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="https://www.walklakes.co.uk/" class="card mb-3" style="max-width: 30%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/ThingsToDoPage/Walking.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">Walking</h5>
                        <p class="card-text">Keswick is a great base for all sorts of walking, whether it is going up the high mountains and fells or walking a lower level routes.<br /><strong>Keswick is a great place to start.</strong></p>
                    </div>
                </div>
            </div>
        </a>
        <a href="https://www.lakesdistillery.com/" class="card mb-3" style="max-width: 30%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/ThingsToDoPage/the-lakes-distillery.png" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">The Lakes Distillery</h5>
                        <p class="card-text">Just a 15 minute drive from Keswick. Whiskey, Gin and a great Bistro, the distillery is a great place to visit (especially on a rainy day).</p>
                    </div>
                </div>
            </div>
        </a>
        <a href="" class="card mb-3" style="max-width: 30%;">
            <div class="row g-0">
                <div class="col-md-4">
                    <img src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/ThingsToDoPage/Pencil-Museum.jpg" class="img-fluid rounded-start" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <h5 class="card-title">The Derwent Pencil Museum</h5>
                        <p class="card-text">Home the the famous Derwent Pencil, take a look at the museum, pick up some art supplys or visit the cafe.</p>
                    </div>
                </div>
            </div>
        </a>
    </div>

</section>


@code {

}
