@inherits LayoutComponentBase

<div>
    <div class="top-details">
        <p>Tel: 017687 72696</p><p>|</p><p>dalkeith.keswick@gmail.com</p><p>|</p><p>1 Leonard Street, Keswick, Cumbria, CA12 4EJ</p>
    </div>
    <div class="top-banner">
        <img src='img/dalkeith-guest-house-logo.png' />
    </div>
    <div class="mynavbar">
        <NavMenu />
    </div>

    <main>
        <article class="pagecontent">
            @Body
        </article>

        <footer>
            <div class="container">
                <div class="row align-items-center">
                    <div class="col">
                        <p class="address">1 Leonard Street, Keswick, Cumbria, CA12 4EJ</p>
                        <p class="phone">Phone: <a href="tel:017687 72696">017687 72696</a></p>
                        <p class="email">Email: <a href="mailto:info@dalkeithguesthouse.co.uk">info@dalkeithguesthouse.co.uk</a></p>
                    </div>
                    <div class="col">
                        <a href="https://www.facebook.com/dalkeithkeswick/">
                            <img class="facebook-logo" src="https://dalkeithgh.blob.core.windows.net/dalkeithguesthouse/FindUs-FB.png" />
                        </a>
                    </div>
                    <div class="col">
                        <iframe class="footer-mini-map" src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d19031.401241574113!2d-3.1332157832535255!3d54.60043685063491!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x1a114be04dad8e34!2sDalkeith%20Guest%20House!5e0!3m2!1sen!2suk!4v1658398778227!5m2!1sen!2suk"></iframe>
                    </div>
                </div>
            </div>
        </footer>
    </main>

</div>
